{% extends 'layout.html' %}
{% load static %}


{% block title %}
Contact
{% endblock %}


{% block content %}

<div class="bg-gray-800 h-screen">
   <div class="bg-gray-800 text-gray-100 px-8 py-4">

      <div
         class="max-w-screen-xl mt-10 px-8 grid gap-8 grid-cols-1 md:grid-cols-2 md:px-12 lg:px-16 xl:px-32 py-16 mx-auto bg-gray-100 text-gray-900 rounded-lg shadow-lg mb-6">
         <div class="flex flex-col justify-between">
            <div>
               <h2 class="text-4xl lg:text-5xl font-bold leading-tight">Lets talk about everything!</h2>
               <div class="text-gray-700 mt-8">
                  Hate forms? Send us an <span class="underline">email</span> instead.
               </div>
            </div>
            <div class="mt-8 text-center">
               <img src="{% static 'images/contact-image.svg' %}" alt="">
            </div>
         </div>
         <div class="">
            <div>
               <span class="uppercase text-sm text-gray-600 font-bold">Full Name</span>
               <input
                  class="w-full bg-gray-300 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
                  type="text" placeholder="">
            </div>
            <div class="mt-8">
               <span class="uppercase text-sm text-gray-600 font-bold">Email</span>
               <input
                  class="w-full bg-gray-300 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
                  type="text">
            </div>
            <div class="mt-8">
               <span class="uppercase text-sm text-gray-600 font-bold">Message</span>
               <textarea
                  class="w-full h-32 bg-gray-300 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"></textarea>
            </div>
            <div class="mt-8">
               <button
                  class="uppercase text-sm font-bold tracking-wide bg-indigo-500 text-gray-100 p-3 rounded-lg w-full focus:outline-none focus:shadow-outline">
                  Send Message
               </button>
            </div>
         </div>
      </div>
   </div>
</div>



{% endblock %}