<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="keywords" content="school managment system admin student teacher controller" />
   <meta name="description" content="this site is school management system" />
   <title>{% block title %} {% endblock %}</title>
</head>

<body>
   {% block content %} {% endblock %}

   <ul>
      <li><a href="/admin">admin</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/controller">controller</a></li>
      <li><a href="/student">student</a></li>
      <li><a href="/teacher">teacher</a></li>
   </ul>


</body>

</html>