{% extends 'layout.html' %}

{% load static %}

{% block title %}
Forgot Password
{% endblock %}

{% block form %}

<div class="flex items-center justify-center min-h-screen bg-gray-50">
   <div class="px-8 py-6 mt-4 text-left bg-white shadow-4xl rounded-lg">
      <div class="flex font-bold justify-center">
         <img class="h-20 w-20" src="{% static 'icon/avatar.svg' %}">
      </div>
      <h3 class="text-2xl font-semibold text-center mt-2">Forgot Password</h3>
      <form action="" method="POST">
         {% csrf_token %}
         <div class="mt-4">
            <div>
               <label class="block" for="email">Admin Id<label>
                     <input type="text" placeholder="Enter Your Admin Id"
                        class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                        name="admin_id" required="" id="admin_id">
            </div>
            <div class="mt-4">
               <label class="block">Email<label>
                     <input type="email" placeholder="Enter Your Email"
                        class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                        name="password" required="" id="email">
            </div>
            <div class="flex items-center justify-between mt-4">
               <button class="px-6 py-2 mt-0 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Submit</button>

            </div>
         </div>
      </form>
   </div>
</div>

{% endblock %}