{% extends 'layout.html' %}

{% block title %}
student
{% endblock %}

{% block content %}

<h1>student</h1>

{% endblock %}


{% block form %}

<form action="" method="post">
   {% csrf_token %}
   <fieldset class="module aligned ">

      <div>
         <label class="required" for="student_id">Student Id : </label>
         <input type="text" name="student_id" required="" id="id_student_id">
      </div>

      <div>
         <label class="required" for="password">Password : </label>
         <input type="password" name="password" required="" id="password">
      </div>
   </fieldset>
   <button type="submit">Submit</button>
</form>

<br>
<br>

{{data.data}}

{% endblock %}